body {
    font-family: 'Dela Gothic One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.gray-color {
    color: rgb(17, 130, 200);
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.division-1 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.division-1 img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: coral;
    padding: 10px 40px;
    border-radius: 8px;
    background-image: linear-gradient(orange rgb(248, 67, 36));
    color: white;
    font-weight: 400;
}

.section-1 {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.section-2 {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.section-3 {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.shadow-box {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px gray;
    padding-left: 30px;
    border-radius: 15px;
    border-left: 8px solid blue;
}

#box-1 {
    border-left: 8px solid tomato;
}

footer p {
    text-align: center;
}